.startShopping {
  animation: neonGlow 1s infinite alternate;
}

.menuItem {
  background: linear-gradient(
    to right,
    #3e3c3c,
    #f9d423
  ); /* Black and yellow gradient */
  background-size: 200% 100%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes neonGlow {
  0% {
    box-shadow: 0 0 5px #ffff00;
    text-shadow: 0 0 0px #ffff00, 0 0 20px #ffff00, 0 0 30px #ffff00,
      0 0 40px #ffff00, 0 0 70px #ffff00, 0 0 80px #ffff00, 0 0 100px #ffff00,
      0 0 150px #ffff00;
  }
  100% {
    box-shadow: 0 0 20px 10px #ffff00;
    text-shadow: 0 0 0px #ffff00, 0 0 10px #ffff00, 0 0 20px #ffff00,
      0 0 30px #ffff00, 0 0 40px #ffff00, 0 0 50px #ffff00, 0 0 60px #ffff00,
      0 0 70px #ffff00;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes border-color {
  0% {
    border-color: yellow;
  }
  50% {
    border-color: black;
  }
  100% {
    border-color: yellow;
  }
}
