* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
main {
  text-align: center;
  width: 1000px;
  background: black;
  padding: 2rem 0;
  margin: 1em auto;
}
#header {
  display: flex;
  align-items: center;
  background: #000;
  border-bottom: 1px solid black;
  height: 70px;
  font-family: cursive;
  padding: 0.5rem 1rem;
}
.gallery {
  text-align: center;
  background-color: #ffd700;
}

.menuGallery {
  width: 150px;
  height: 150px;
}
.gallerydiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.gallerydivs {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin: 1%;
  border: yellow solid 2px;
  border-radius: 5px;
  animation: border-color 2s linear infinite;
}

@keyframes border-color {
  0% {
    border-color: yellow;
  }
  50% {
    border-color: black;
  }
  100% {
    border-color: yellow;
  }
}
.galleryName {
  padding-left: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  color: black;
  font-size: 16px;
  padding: 1rem;
  font-family: "Lobster", sans-serif;
  font-weight: bold;
}
